--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

-- Started on 2025-08-17 23:26:26

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 234 (class 1259 OID 16531)
-- Name: aro_app_about; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_about (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    link character varying(200) NOT NULL
);


ALTER TABLE public.aro_app_about OWNER TO aro;

--
-- TOC entry 233 (class 1259 OID 16530)
-- Name: aro_app_about_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_about ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_about_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 244 (class 1259 OID 16569)
-- Name: aro_app_command; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_command (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    slug character varying(255) NOT NULL,
    gif character varying(255),
    confluence_link character varying(200),
    rutube_link character varying(200),
    vkontakte_link character varying(200),
    cost numeric(10,2),
    is_published integer NOT NULL,
    image character varying(255),
    group_id bigint
);


ALTER TABLE public.aro_app_command OWNER TO aro;

--
-- TOC entry 243 (class 1259 OID 16568)
-- Name: aro_app_command_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_command ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_command_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 246 (class 1259 OID 16577)
-- Name: aro_app_command_tag; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_command_tag (
    id bigint NOT NULL,
    command_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.aro_app_command_tag OWNER TO aro;

--
-- TOC entry 245 (class 1259 OID 16576)
-- Name: aro_app_command_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_command_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_command_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 236 (class 1259 OID 16537)
-- Name: aro_app_consult; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_consult (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    surname character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    description text NOT NULL,
    date date NOT NULL,
    attachment character varying(100) NOT NULL
);


ALTER TABLE public.aro_app_consult OWNER TO aro;

--
-- TOC entry 235 (class 1259 OID 16536)
-- Name: aro_app_consult_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_consult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_consult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 238 (class 1259 OID 16545)
-- Name: aro_app_group; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_group (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(50) NOT NULL
);


ALTER TABLE public.aro_app_group OWNER TO aro;

--
-- TOC entry 237 (class 1259 OID 16544)
-- Name: aro_app_group_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 240 (class 1259 OID 16551)
-- Name: aro_app_tag; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_tag (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(50) NOT NULL
);


ALTER TABLE public.aro_app_tag OWNER TO aro;

--
-- TOC entry 239 (class 1259 OID 16550)
-- Name: aro_app_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 242 (class 1259 OID 16557)
-- Name: aro_app_user; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.aro_app_user (
    id bigint NOT NULL,
    slug character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL
);


ALTER TABLE public.aro_app_user OWNER TO aro;

--
-- TOC entry 241 (class 1259 OID 16556)
-- Name: aro_app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.aro_app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.aro_app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 222 (class 1259 OID 16424)
-- Name: auth_group; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO aro;

--
-- TOC entry 221 (class 1259 OID 16423)
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 224 (class 1259 OID 16432)
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO aro;

--
-- TOC entry 223 (class 1259 OID 16431)
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 220 (class 1259 OID 16418)
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO aro;

--
-- TOC entry 219 (class 1259 OID 16417)
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 226 (class 1259 OID 16438)
-- Name: auth_user; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO aro;

--
-- TOC entry 228 (class 1259 OID 16446)
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO aro;

--
-- TOC entry 227 (class 1259 OID 16445)
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 225 (class 1259 OID 16437)
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 230 (class 1259 OID 16452)
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO aro;

--
-- TOC entry 229 (class 1259 OID 16451)
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 232 (class 1259 OID 16510)
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO aro;

--
-- TOC entry 231 (class 1259 OID 16509)
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 218 (class 1259 OID 16410)
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO aro;

--
-- TOC entry 217 (class 1259 OID 16409)
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 216 (class 1259 OID 16402)
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO aro;

--
-- TOC entry 215 (class 1259 OID 16401)
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 247 (class 1259 OID 16618)
-- Name: django_session; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO aro;

--
-- TOC entry 249 (class 1259 OID 16628)
-- Name: django_site; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO aro;

--
-- TOC entry 248 (class 1259 OID 16627)
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 251 (class 1259 OID 16637)
-- Name: social_auth_association; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.social_auth_association (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    handle character varying(255) NOT NULL,
    secret character varying(255) NOT NULL,
    issued integer NOT NULL,
    lifetime integer NOT NULL,
    assoc_type character varying(64) NOT NULL
);


ALTER TABLE public.social_auth_association OWNER TO aro;

--
-- TOC entry 250 (class 1259 OID 16636)
-- Name: social_auth_association_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.social_auth_association ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_association_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 253 (class 1259 OID 16645)
-- Name: social_auth_code; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.social_auth_code (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    code character varying(32) NOT NULL,
    verified boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public.social_auth_code OWNER TO aro;

--
-- TOC entry 252 (class 1259 OID 16644)
-- Name: social_auth_code_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.social_auth_code ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_code_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 255 (class 1259 OID 16651)
-- Name: social_auth_nonce; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.social_auth_nonce (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    "timestamp" integer NOT NULL,
    salt character varying(65) NOT NULL
);


ALTER TABLE public.social_auth_nonce OWNER TO aro;

--
-- TOC entry 254 (class 1259 OID 16650)
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.social_auth_nonce ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_nonce_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 259 (class 1259 OID 16683)
-- Name: social_auth_partial; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.social_auth_partial (
    id bigint NOT NULL,
    token character varying(32) NOT NULL,
    next_step smallint NOT NULL,
    backend character varying(32) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    data jsonb NOT NULL,
    CONSTRAINT social_auth_partial_next_step_check CHECK ((next_step >= 0))
);


ALTER TABLE public.social_auth_partial OWNER TO aro;

--
-- TOC entry 258 (class 1259 OID 16682)
-- Name: social_auth_partial_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.social_auth_partial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_partial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 257 (class 1259 OID 16657)
-- Name: social_auth_usersocialauth; Type: TABLE; Schema: public; Owner: aro
--

CREATE TABLE public.social_auth_usersocialauth (
    id bigint NOT NULL,
    provider character varying(32) NOT NULL,
    uid character varying(255) NOT NULL,
    user_id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL
);


ALTER TABLE public.social_auth_usersocialauth OWNER TO aro;

--
-- TOC entry 256 (class 1259 OID 16656)
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE; Schema: public; Owner: aro
--

ALTER TABLE public.social_auth_usersocialauth ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_usersocialauth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- TOC entry 5007 (class 0 OID 16531)
-- Dependencies: 234
-- Data for Name: aro_app_about; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_about (id, title, link) FROM stdin;
1	BIM	https://www.arogroup.ru/bim
2	IT	https://www.arogroup.ru/it
3	Design	https://www.arogroup.ru/design
4	Projects	https://www.arogroup.ru/projects
5	Connector	connector
6	Consulting	consulting
\.


--
-- TOC entry 5017 (class 0 OID 16569)
-- Dependencies: 244
-- Data for Name: aro_app_command; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 5019 (class 0 OID 16577)
-- Dependencies: 246
-- Data for Name: aro_app_command_tag; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_command_tag (id, command_id, tag_id) FROM stdin;
1	1	2
2	2	2
3	3	1
4	4	2
5	5	2
7	7	2
9	9	2
10	10	1
11	11	2
12	12	2
14	14	2
13	13	2
8	8	2
6	6	2
\.


--
-- TOC entry 5009 (class 0 OID 16537)
-- Dependencies: 236
-- Data for Name: aro_app_consult; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_consult (id, name, surname, email, description, date, attachment) FROM stdin;
\.


--
-- TOC entry 5011 (class 0 OID 16545)
-- Dependencies: 238
-- Data for Name: aro_app_group; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_group (id, title, slug) FROM stdin;
1	Общие	general
2	Параметры	parameters
3	ARO Tools	aro-tools
4	Отделка	FinishingByRoom
\.


--
-- TOC entry 5013 (class 0 OID 16551)
-- Dependencies: 240
-- Data for Name: aro_app_tag; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_tag (id, title, slug) FROM stdin;
1	Бесплатно	free
2	Платно	paid
\.


--
-- TOC entry 5015 (class 0 OID 16557)
-- Dependencies: 242
-- Data for Name: aro_app_user; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.aro_app_user (id, slug, username, password, email, is_staff) FROM stdin;
\.


--
-- TOC entry 4995 (class 0 OID 16424)
-- Dependencies: 222
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- TOC entry 4997 (class 0 OID 16432)
-- Dependencies: 224
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- TOC entry 4993 (class 0 OID 16418)
-- Dependencies: 220
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 4999 (class 0 OID 16438)
-- Dependencies: 226
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 5001 (class 0 OID 16446)
-- Dependencies: 228
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- TOC entry 5003 (class 0 OID 16452)
-- Dependencies: 230
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- TOC entry 5005 (class 0 OID 16510)
-- Dependencies: 232
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 4991 (class 0 OID 16410)
-- Dependencies: 218
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	aro_app	about
8	aro_app	consult
9	aro_app	group
10	aro_app	tag
11	aro_app	user
12	aro_app	command
13	social_django	association
14	social_django	code
15	social_django	nonce
16	social_django	usersocialauth
17	social_django	partial
18	sites	site
\.


--
-- TOC entry 4989 (class 0 OID 16402)
-- Dependencies: 216
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 5020 (class 0 OID 16618)
-- Dependencies: 247
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: aro
--



--
-- TOC entry 5022 (class 0 OID 16628)
-- Dependencies: 249
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- TOC entry 5024 (class 0 OID 16637)
-- Dependencies: 251
-- Data for Name: social_auth_association; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.social_auth_association (id, server_url, handle, secret, issued, lifetime, assoc_type) FROM stdin;
\.


--
-- TOC entry 5026 (class 0 OID 16645)
-- Dependencies: 253
-- Data for Name: social_auth_code; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.social_auth_code (id, email, code, verified, "timestamp") FROM stdin;
\.


--
-- TOC entry 5028 (class 0 OID 16651)
-- Dependencies: 255
-- Data for Name: social_auth_nonce; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.social_auth_nonce (id, server_url, "timestamp", salt) FROM stdin;
\.


--
-- TOC entry 5032 (class 0 OID 16683)
-- Dependencies: 259
-- Data for Name: social_auth_partial; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.social_auth_partial (id, token, next_step, backend, "timestamp", data) FROM stdin;
\.


--
-- TOC entry 5030 (class 0 OID 16657)
-- Dependencies: 257
-- Data for Name: social_auth_usersocialauth; Type: TABLE DATA; Schema: public; Owner: aro
--

COPY public.social_auth_usersocialauth (id, provider, uid, user_id, created, modified, extra_data) FROM stdin;
\.


--
-- TOC entry 5038 (class 0 OID 0)
-- Dependencies: 233
-- Name: aro_app_about_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_about_id_seq', 6, true);


--
-- TOC entry 5039 (class 0 OID 0)
-- Dependencies: 243
-- Name: aro_app_command_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_command_id_seq', 12, true);


--
-- TOC entry 5040 (class 0 OID 0)
-- Dependencies: 245
-- Name: aro_app_command_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_command_tag_id_seq', 12, true);


--
-- TOC entry 5041 (class 0 OID 0)
-- Dependencies: 235
-- Name: aro_app_consult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_consult_id_seq', 1, false);


--
-- TOC entry 5042 (class 0 OID 0)
-- Dependencies: 237
-- Name: aro_app_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_group_id_seq', 3, true);


--
-- TOC entry 5043 (class 0 OID 0)
-- Dependencies: 239
-- Name: aro_app_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_tag_id_seq', 2, true);


--
-- TOC entry 5044 (class 0 OID 0)
-- Dependencies: 241
-- Name: aro_app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.aro_app_user_id_seq', 1, false);


--
-- TOC entry 5045 (class 0 OID 0)
-- Dependencies: 221
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- TOC entry 5046 (class 0 OID 0)
-- Dependencies: 223
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- TOC entry 5047 (class 0 OID 0)
-- Dependencies: 219
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- TOC entry 5048 (class 0 OID 0)
-- Dependencies: 227
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- TOC entry 5049 (class 0 OID 0)
-- Dependencies: 225
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 7, true);


--
-- TOC entry 5050 (class 0 OID 0)
-- Dependencies: 229
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- TOC entry 5051 (class 0 OID 0)
-- Dependencies: 231
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- TOC entry 5052 (class 0 OID 0)
-- Dependencies: 217
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- TOC entry 5053 (class 0 OID 0)
-- Dependencies: 215
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 47, true);


--
-- TOC entry 5054 (class 0 OID 0)
-- Dependencies: 248
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- TOC entry 5055 (class 0 OID 0)
-- Dependencies: 250
-- Name: social_auth_association_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.social_auth_association_id_seq', 1, false);


--
-- TOC entry 5056 (class 0 OID 0)
-- Dependencies: 252
-- Name: social_auth_code_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.social_auth_code_id_seq', 1, false);


--
-- TOC entry 5057 (class 0 OID 0)
-- Dependencies: 254
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.social_auth_nonce_id_seq', 1, false);


--
-- TOC entry 5058 (class 0 OID 0)
-- Dependencies: 258
-- Name: social_auth_partial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.social_auth_partial_id_seq', 1, false);


--
-- TOC entry 5059 (class 0 OID 0)
-- Dependencies: 256
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aro
--

SELECT pg_catalog.setval('public.social_auth_usersocialauth_id_seq', 1, false);


--
-- TOC entry 4766 (class 2606 OID 16535)
-- Name: aro_app_about aro_app_about_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_about
    ADD CONSTRAINT aro_app_about_pkey PRIMARY KEY (id);


--
-- TOC entry 4787 (class 2606 OID 16575)
-- Name: aro_app_command aro_app_command_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command
    ADD CONSTRAINT aro_app_command_pkey PRIMARY KEY (id);


--
-- TOC entry 4792 (class 2606 OID 16597)
-- Name: aro_app_command_tag aro_app_command_tag_command_id_tag_id_9d92b97c_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command_tag
    ADD CONSTRAINT aro_app_command_tag_command_id_tag_id_9d92b97c_uniq UNIQUE (command_id, tag_id);


--
-- TOC entry 4794 (class 2606 OID 16581)
-- Name: aro_app_command_tag aro_app_command_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command_tag
    ADD CONSTRAINT aro_app_command_tag_pkey PRIMARY KEY (id);


--
-- TOC entry 4768 (class 2606 OID 16543)
-- Name: aro_app_consult aro_app_consult_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_consult
    ADD CONSTRAINT aro_app_consult_pkey PRIMARY KEY (id);


--
-- TOC entry 4770 (class 2606 OID 16549)
-- Name: aro_app_group aro_app_group_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_group
    ADD CONSTRAINT aro_app_group_pkey PRIMARY KEY (id);


--
-- TOC entry 4774 (class 2606 OID 16555)
-- Name: aro_app_tag aro_app_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_tag
    ADD CONSTRAINT aro_app_tag_pkey PRIMARY KEY (id);


--
-- TOC entry 4778 (class 2606 OID 16563)
-- Name: aro_app_user aro_app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_user
    ADD CONSTRAINT aro_app_user_pkey PRIMARY KEY (id);


--
-- TOC entry 4781 (class 2606 OID 16565)
-- Name: aro_app_user aro_app_user_slug_key; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_user
    ADD CONSTRAINT aro_app_user_slug_key UNIQUE (slug);


--
-- TOC entry 4784 (class 2606 OID 16567)
-- Name: aro_app_user aro_app_user_username_key; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_user
    ADD CONSTRAINT aro_app_user_username_key UNIQUE (username);


--
-- TOC entry 4735 (class 2606 OID 16616)
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- TOC entry 4740 (class 2606 OID 16467)
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- TOC entry 4743 (class 2606 OID 16436)
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- TOC entry 4737 (class 2606 OID 16428)
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- TOC entry 4730 (class 2606 OID 16458)
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- TOC entry 4732 (class 2606 OID 16422)
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- TOC entry 4751 (class 2606 OID 16450)
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- TOC entry 4754 (class 2606 OID 16482)
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- TOC entry 4745 (class 2606 OID 16442)
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- TOC entry 4757 (class 2606 OID 16456)
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- TOC entry 4760 (class 2606 OID 16496)
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- TOC entry 4748 (class 2606 OID 16611)
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- TOC entry 4763 (class 2606 OID 16517)
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- TOC entry 4725 (class 2606 OID 16416)
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- TOC entry 4727 (class 2606 OID 16414)
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- TOC entry 4723 (class 2606 OID 16408)
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- TOC entry 4798 (class 2606 OID 16624)
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- TOC entry 4802 (class 2606 OID 16634)
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- TOC entry 4804 (class 2606 OID 16632)
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- TOC entry 4806 (class 2606 OID 16703)
-- Name: social_auth_association social_auth_association_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_pkey PRIMARY KEY (id);


--
-- TOC entry 4808 (class 2606 OID 16681)
-- Name: social_auth_association social_auth_association_server_url_handle_078befa2_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_server_url_handle_078befa2_uniq UNIQUE (server_url, handle);


--
-- TOC entry 4812 (class 2606 OID 16679)
-- Name: social_auth_code social_auth_code_email_code_801b2d02_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_email_code_801b2d02_uniq UNIQUE (email, code);


--
-- TOC entry 4814 (class 2606 OID 16714)
-- Name: social_auth_code social_auth_code_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_pkey PRIMARY KEY (id);


--
-- TOC entry 4817 (class 2606 OID 16726)
-- Name: social_auth_nonce social_auth_nonce_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_pkey PRIMARY KEY (id);


--
-- TOC entry 4819 (class 2606 OID 16669)
-- Name: social_auth_nonce social_auth_nonce_server_url_timestamp_salt_f6284463_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_server_url_timestamp_salt_f6284463_uniq UNIQUE (server_url, "timestamp", salt);


--
-- TOC entry 4828 (class 2606 OID 16735)
-- Name: social_auth_partial social_auth_partial_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_partial
    ADD CONSTRAINT social_auth_partial_pkey PRIMARY KEY (id);


--
-- TOC entry 4821 (class 2606 OID 16748)
-- Name: social_auth_usersocialauth social_auth_usersocialauth_pkey; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_pkey PRIMARY KEY (id);


--
-- TOC entry 4823 (class 2606 OID 16665)
-- Name: social_auth_usersocialauth social_auth_usersocialauth_provider_uid_e6b5e668_uniq; Type: CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_provider_uid_e6b5e668_uniq UNIQUE (provider, uid);


--
-- TOC entry 4785 (class 1259 OID 16595)
-- Name: aro_app_command_group_id_577eae86; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_command_group_id_577eae86 ON public.aro_app_command USING btree (group_id);


--
-- TOC entry 4788 (class 1259 OID 16593)
-- Name: aro_app_command_slug_8ae5fe7b; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_command_slug_8ae5fe7b ON public.aro_app_command USING btree (slug);


--
-- TOC entry 4789 (class 1259 OID 16594)
-- Name: aro_app_command_slug_8ae5fe7b_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_command_slug_8ae5fe7b_like ON public.aro_app_command USING btree (slug varchar_pattern_ops);


--
-- TOC entry 4790 (class 1259 OID 16608)
-- Name: aro_app_command_tag_command_id_e244a764; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_command_tag_command_id_e244a764 ON public.aro_app_command_tag USING btree (command_id);


--
-- TOC entry 4795 (class 1259 OID 16609)
-- Name: aro_app_command_tag_tag_id_326a9d62; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_command_tag_tag_id_326a9d62 ON public.aro_app_command_tag USING btree (tag_id);


--
-- TOC entry 4771 (class 1259 OID 16582)
-- Name: aro_app_group_slug_7023577a; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_group_slug_7023577a ON public.aro_app_group USING btree (slug);


--
-- TOC entry 4772 (class 1259 OID 16583)
-- Name: aro_app_group_slug_7023577a_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_group_slug_7023577a_like ON public.aro_app_group USING btree (slug varchar_pattern_ops);


--
-- TOC entry 4775 (class 1259 OID 16584)
-- Name: aro_app_tag_slug_42af8780; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_tag_slug_42af8780 ON public.aro_app_tag USING btree (slug);


--
-- TOC entry 4776 (class 1259 OID 16585)
-- Name: aro_app_tag_slug_42af8780_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_tag_slug_42af8780_like ON public.aro_app_tag USING btree (slug varchar_pattern_ops);


--
-- TOC entry 4779 (class 1259 OID 16586)
-- Name: aro_app_user_slug_9846cb24_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_user_slug_9846cb24_like ON public.aro_app_user USING btree (slug varchar_pattern_ops);


--
-- TOC entry 4782 (class 1259 OID 16587)
-- Name: aro_app_user_username_439cb213_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX aro_app_user_username_439cb213_like ON public.aro_app_user USING btree (username varchar_pattern_ops);


--
-- TOC entry 4733 (class 1259 OID 16617)
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- TOC entry 4738 (class 1259 OID 16478)
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- TOC entry 4741 (class 1259 OID 16479)
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- TOC entry 4728 (class 1259 OID 16464)
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- TOC entry 4749 (class 1259 OID 16494)
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- TOC entry 4752 (class 1259 OID 16493)
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- TOC entry 4755 (class 1259 OID 16508)
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- TOC entry 4758 (class 1259 OID 16507)
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- TOC entry 4746 (class 1259 OID 16612)
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- TOC entry 4761 (class 1259 OID 16528)
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- TOC entry 4764 (class 1259 OID 16529)
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- TOC entry 4796 (class 1259 OID 16626)
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- TOC entry 4799 (class 1259 OID 16625)
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- TOC entry 4800 (class 1259 OID 16635)
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- TOC entry 4809 (class 1259 OID 16670)
-- Name: social_auth_code_code_a2393167; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_code_code_a2393167 ON public.social_auth_code USING btree (code);


--
-- TOC entry 4810 (class 1259 OID 16671)
-- Name: social_auth_code_code_a2393167_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_code_code_a2393167_like ON public.social_auth_code USING btree (code varchar_pattern_ops);


--
-- TOC entry 4815 (class 1259 OID 16694)
-- Name: social_auth_code_timestamp_176b341f; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_code_timestamp_176b341f ON public.social_auth_code USING btree ("timestamp");


--
-- TOC entry 4829 (class 1259 OID 16696)
-- Name: social_auth_partial_timestamp_50f2119f; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_partial_timestamp_50f2119f ON public.social_auth_partial USING btree ("timestamp");


--
-- TOC entry 4830 (class 1259 OID 16691)
-- Name: social_auth_partial_token_3017fea3; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_partial_token_3017fea3 ON public.social_auth_partial USING btree (token);


--
-- TOC entry 4831 (class 1259 OID 16692)
-- Name: social_auth_partial_token_3017fea3_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_partial_token_3017fea3_like ON public.social_auth_partial USING btree (token varchar_pattern_ops);


--
-- TOC entry 4824 (class 1259 OID 16699)
-- Name: social_auth_usersocialauth_uid_796e51dc; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc ON public.social_auth_usersocialauth USING btree (uid);


--
-- TOC entry 4825 (class 1259 OID 16700)
-- Name: social_auth_usersocialauth_uid_796e51dc_like; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc_like ON public.social_auth_usersocialauth USING btree (uid varchar_pattern_ops);


--
-- TOC entry 4826 (class 1259 OID 16677)
-- Name: social_auth_usersocialauth_user_id_17d28448; Type: INDEX; Schema: public; Owner: aro
--

CREATE INDEX social_auth_usersocialauth_user_id_17d28448 ON public.social_auth_usersocialauth USING btree (user_id);


--
-- TOC entry 4841 (class 2606 OID 16588)
-- Name: aro_app_command aro_app_command_group_id_577eae86_fk_aro_app_group_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command
    ADD CONSTRAINT aro_app_command_group_id_577eae86_fk_aro_app_group_id FOREIGN KEY (group_id) REFERENCES public.aro_app_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4842 (class 2606 OID 16598)
-- Name: aro_app_command_tag aro_app_command_tag_command_id_e244a764_fk_aro_app_command_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command_tag
    ADD CONSTRAINT aro_app_command_tag_command_id_e244a764_fk_aro_app_command_id FOREIGN KEY (command_id) REFERENCES public.aro_app_command(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4843 (class 2606 OID 16603)
-- Name: aro_app_command_tag aro_app_command_tag_tag_id_326a9d62_fk_aro_app_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.aro_app_command_tag
    ADD CONSTRAINT aro_app_command_tag_tag_id_326a9d62_fk_aro_app_tag_id FOREIGN KEY (tag_id) REFERENCES public.aro_app_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4833 (class 2606 OID 16473)
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4834 (class 2606 OID 16468)
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4832 (class 2606 OID 16459)
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4835 (class 2606 OID 16488)
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4836 (class 2606 OID 16483)
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4837 (class 2606 OID 16502)
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4838 (class 2606 OID 16497)
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4839 (class 2606 OID 16518)
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4840 (class 2606 OID 16523)
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- TOC entry 4844 (class 2606 OID 16672)
-- Name: social_auth_usersocialauth social_auth_usersocialauth_user_id_17d28448_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: aro
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_user_id_17d28448_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


-- Completed on 2025-08-17 23:26:27

--
-- PostgreSQL database dump complete
--

