{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{{ title }}</title> <!-- Заголовок сайта -->
    <link href="{% static 'website_app/css/style.css' %}" rel="stylesheet"/> <!-- Ссылка на css -->
    <meta charset='UTF-8'> <!-- Кодировка документа -->
</head>

<body>
    <div class="header" style="display: flex;">
        <a href="https://www.arogroup.ru/" class="logo"></a>
            {% for a in about %}
                <div class="content_menu"><a href='{{ a.title_url }}'>{{ a.title }}</a></div>
            {% endfor %}
    </div>

<div class="payment">
</div>

{% block content %} {% endblock %}
</body>
</html>