{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{{ title }}</title> <!-- Заголовок сайта -->
    <link href="{% static 'website_app/css/style.css' %}" rel="stylesheet"/> <!-- Ссылка на css -->
    <meta charset='UTF-8'> <!-- Кодировка документа -->
</head>

<body>
    <div class="header" style="display: flex;">
        <span class="logo"></span>
            {% for a in about %}
                <div class="content_menu"><a href='{% url a.title_url %}'>{{ a.title }}</a></div>
            {% endfor %}
    </div>

<div class="payment">
    <ul>
        {% for pay in payment %}
            <li>
                {% if pay.0 in 'Помощь сайту:' %}
                    <p2>{{ pay.0 }}</p2>
                        <a href='https://example.com'>Перейти на сайт</a>
                {% else %}
                    <p2>{{ pay.0 }}</p2>
                    <p2><a href='https://example.com'>{{ pay.1 }} </a> </p2>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% block content %} {% endblock %}
</body>
</html>