{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="descr_ext">
        <h3>{{ descr }}</div>
    <div class="command">

        <h1>Оставить заявку</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form_label" for="{{ f.id_for_label }}">
                    {{ f.label }}</label>{{ f }}</p>
                <div class="form_error">{{ f.errors }}</div>
            {% endfor %}

            <p>
                <button type="submit">Отправить</button>
            </p>
        </form>
{% endblock %}