<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p1>{{ about|join:" | " }}</p1>
<h1>{{ title }}</h1>
<hr>

<ul>
    {% for pay in payment %}
        <li>
            {% if pay.0 in "Помощь сайту:" %}
                <p2>{{ pay.0 }}</p2>
                <a href="https://example.com">Перейти на сайт</a>
            {% else %}
                <p2>{{ pay.0 }}</p2>
                <p2>{{ pay.1 }}</p2>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>