/* Все что находится внутри html и body */
html, body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #666;
}

/* Гиперссылки */
a {
    color: #000000;
    text-decoration: none;
}

/* Гиперссылки при наведении курсора */
a:hover {
    color: #555555;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Полоска сверху */
.header {
    position: fixed;
    background: #e5e5e5;
    height: 100px;
    width: 100%; /* Шапка займёт всю ширину окна браузера */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
    z-index: 1; /* Выставляем выше других элементов */
}

/* Логотип в шапке страницы */
.logo {
    transition: fill 0.3s ease;
    background: url('../images/logo.svg') no-repeat 5px 15px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    margin-left: 280px;
}


/* Содержимое шапки страницы */
.content_menu {
    font-size: x-large;
    color: #CC0000;
    padding-top: 30px;
    padding-inline: 30px;
}

/* Содержимое платежа страницы */
.payment {
    padding-top: 100px;
    font-size: inherit;
}

/* Содержимое набора команд */
.command_menu {
    height: 150px;
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Линия под содержимым набора команд */
.command_menu::after {
    content: "";
    position: absolute;
    bottom: 1px; /* Опускаем вниз */
    left: -50px; /* Смещаем влево */
    width: 200%; /* Длина линии */
    border-bottom: 1px solid black;
}

/* Изображение содержимого набора команд */
.image {
    position: relative;
    top: 10px;   /* вниз */
    display: inline-block;
}