/* Все что находится внутри html и body */
html, body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #666;
}

/* Гиперссылки */
a {
    color: #000000;
    text-decoration: none;
}

/* Гиперссылки при наведении курсора */
a:hover {
    color: #555555;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* Полоска сверху */
.header {
    position: fixed;
    background: #e5e5e5;
    height: 100px;
    width: 100%; /* Шапка займёт всю ширину окна браузера */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
    z-index: 1; /* Выставляем выше других элементов */
}

/* Логотип в шапке страницы */
.logo {
    transition: fill 0.3s ease;
    background: url('../images/logo.svg') no-repeat 5px 15px;
    width: 250px;
    height: 100px;
    overflow: hidden;
    margin-left: 280px;
}


/* Содержимое шапки страницы */
.content_menu {
    font-size: x-large;
    color: #CC0000;
    padding-top: 30px;
    padding-inline: 30px;
}

/* Содержимое групп команд */
.group_menu {
    padding-top: 110px;
    font-size: inherit;
    display: inline-block;

}

/* Содержимое набора команд на главной странице */
.command_menu {
    height: 190px;
    position: relative;
    width: 100%;


    display: flex; /* превращаем в flex-контейнер */
    flex-direction: column; /* размещаем элементы сверху вниз */
    justify-content: flex-start; /* центрируем по вертикали */
    text-align: left; /* центрируем текст */

    padding-top: 10px;
    box-sizing: border-box;
}

/* Изображение содержимого набора команд */
.inline-icon-block {
    display: flex;
    align-items: center;
    justify-content: left; /* Центрирует иконку и текст внутри блока */
    gap: 8px; /* Расстояние между иконкой и текстом */
}

/* Удаление лишних отступов у элементов */
.command_menu h3,
.command_menu a {
    margin: 0;
    padding: 0;
    line-height: 1.2; /* Более плотная вертикальная посадка */
    font-size: 1rem;   /* Опционально можно уменьшить размер */
}

.command_menu h2 {
    margin: 0;
    padding: 0;
    line-height: 1.2; /* Более плотная вертикальная посадка */
    font-size: 1rem;   /* Опционально можно уменьшить размер */
    background-color: #e5e5e5;
}

/* Линия под содержимым набора команд */
.command_menu::after {
    content: "";
    position: absolute;
    bottom: 10px; /* Опускаем вниз */
    left: -50px; /* Смещаем влево */
    width: 200%; /* Длина линии */
    border-bottom: 1px solid black;
}

/* Изображение содержимого набора команд */
.image {
    position: relative;
    top: 10px; /* вниз */
    display: inline-block;
}

.command{

}

.command h2{
    background-color: #e5e5e5;
}