/* Все что находится внутри html и body */
html, body {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #666;
}

/* Гиперссылки */
a {
    color: #000000;
    text-decoration: none;
}

/* Гиперссылки при наведении курсора */
a:hover {
    color: #555555;
    text-decoration: underline;
}

/* Полоска сверху */
.header {
    position: fixed;
    background: #e5e5e5;
    height: 100px;
    top: 0;
    width: 100000%; /* Шапка займёт всю ширину окна браузера */
}

/* Логотип в шапке страницы */
.logo {
    display: inline-block;
    background: url('../images/chrome_zYFL29xJTv.svg') no-repeat 5px 15px;
    width: 250px;
    height: 100px;
    overflow: hidden;
}

/* Содержимое шапки страницы */
.content {
    display: flex;
    align-items: center;
}